h1 {
  font-size: 30px;
  margin: 0px;
}
.btn-group {
  padding-left: 10px;
} 
.contents {
  margin: 30px 10px 30px 10px;
}
.flex-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.square {
  display: flex;
  box-sizing: border-box;
  /* Width of box includes padding */
  align-items: center;
  /* Vertical alignment */
  justify-content: center;
  font-size: 3em;
  flex-basis: 33.333%;
  max-width: 150px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
/* Remove outside borders */
#square-3,
#square-6,
#square-9 {
  border-right-color: transparent;
}

#square-7,
#square-8,
#square-9 {
  border-bottom-color: transparent;
}

.square::after {
  /* Fills cell to make it square */
  content: "";
  padding-bottom: 100%;
}

.square:hover {
  background-color: #EEEEEE;
}

.winning-square__user,
.winning-square__user:hover {
  background-color: green;
}

.winning-square__comp,
.winning-square__comp:hover {
  background-color: red;
}